<% decorate_connection = ->(connection) do %>
    <% case connection.state.to_sym %>
    <% when :in_progress %>
        <p>
            Connecting Your Account, Please Wait...
        </p>
    <% when :error %>
        <p>
            Error Connecting Your Account
            (<%= link_to 'Try Again?', controller: :services, action: :new, service: connection.short_service_name,
                         id: connection.id %>)
        </p>
    <% when :expired %>
        <p>
            Your Session Has Expired
            (<%= link_to 'Reconnect', controller: :services, action: :new, service: connection.short_service_name, id: connection.id %>)
        </p>
    <% when :success %>
        <p>
            Connected
        </p>
    <% else
         raise "Invalid State (was #{state})"
       end
    end
%>

<% new_connection = ->(name) do %>
    <p>
        <%= link_to 'Create New Connection', controller: :services, action: :new, service: name %>
    </p>
<% end %>
<% max_connections = current_user.has_max_connections %>
<h4>Box:</h4>
<% current_user.box_connections.each &decorate_connection
   new_connection['box'] unless max_connections %>
<h4>Dropbox:</h4>
<% current_user.dropbox_connections.each &decorate_connection
   new_connection['dropbox'] unless max_connections %>
<h4>Google Drive:</h4>
<% current_user.google_connections.each &decorate_connection
   new_connection['google'] unless max_connections %>