<% (current_user.connections).each do |connection| %>
    <h4><%= connection.service_name + ':' %></h4>
    <% case connection.state.to_sym
         when :none %>
        <p>
            No Account Connected (<%= link_to 'Connect One Now', controller: :services, action: :new,
                                              service: connection.short_service_name %>)
        </p>
    <% when :in_progress %>
        <p>
            Connecting Your Account, Please Wait...
        </p>
    <% when :error %>
        <p>
            Error Connecting Your Account
            (<%= link_to 'Try Again?', controller: :services, action: :new, service: connection.short_service_name,
                         id: connection.id %>)
        </p>
    <% when :expired %>
        <p>
            Your Session Has Expired
            (<%= link_to 'Reconnect', controller: :services, action: :new, service: connection.short_service_name %>)
        </p>
    <% when :success %>
        <p>
            Connected
        </p>
    <% else
         raise "Invalid State (was #{state})"
       end
       end %>