<% provide :title_suffix, 'About Us' %>
<div class="row">
    <div class="medium-4 columns hide-for-small">
        <%= image_tag 'https://www.gravatar.com/avatar/b2da1f70fbab5c01ede3688c06f4023c?s=300&r=pg',
                      id: 'gravatar',
                      alt: 'Gravatar',
                      height: '300',
                      width: '300'%>
    </div>
    <div class="medium-8 small-12 columns">
        <p>
            Nimbus is the creation of <%= link_to 'Nick Gerleman', 'http://www.nickgerleman.com' %>. Nimbus started out
            as a project for me to learn web development. Some time later it has actually become useful. Some
            information about me:
        </p>
        <ul>
            <li>Sophomore At Iowa State University</li>
            <li>Enthusiastic about any new technology</li>
            <li>Feel free to contact me for job opportunities</li>
        </ul>
    </div>
</div>
