<div id="app-container"></div>
<script>
    <% socket_url = ENV['HOST'] ? '/api/socket' : 'http://127.0.0.1:8081/api/socket' %>
    window.onload = function () {
        NimbusApp.UI('<%= socket_url %>', history.state);
    };
</script>