<%= provide :title_suffix, 'Contribute' %>
<div class="row">
    <h2>Source Code</h2>
    <%= link_to 'Webapp Source Code', 'https://github.com/NickGerleman/Nimbus_Webapp' %>
    <h2>Bugs</h2>

    <p>Please submit found bugs to the bug tracker on GitHub. Links to the project are provided above.</p>
</div>