<%= provide :title_suffix, 'Contribute' %>
<div class="row">
    <h2>Source Code</h2>
    <p>
        Nimbus is an Open Source project. If you would like to contribute directly, the
        <%= link_to 'source code', 'https://github.com/NickGerleman/Nimbus_Webapp' %> is available on
        Github to tinker with. You could even run your own personal Nimbus if you would like to.
    </p>
    <h2>Bugs</h2>

    <p>
        Please submit found bugs to the bug tracker on Github. Links to the project are provided
        above.
    </p>
</div>
