<% provide :title_suffix, 'Features' %>
<div class="row">
    <div class="small-12 columns">
        <h3>Unified</h3>

        <p>
            Nimbus supports major cloud storage providers. You can connect to Dropbox, Google Drive, Skydrive, and Box
            accounts all at once.
        </p>
    </div>
</div>
<div class="row">
    <div class="medium-10 small-12 columns">
        <h3>
            Mobile Ready
        </h3>

        <p>
            Nimbus has been optimized for phones and tablets. Any device with a modern web browser will work as
            intended.
        </p>
    </div>
    <div class="medium-2 columns hide-for-small">
        <div id="mobile-ready"></div>
    </div>
</div>
<div class="row">
    <div class="medium-2 columns hide-for-small">
        <%= image_tag 'opensource.svg', width: '150px' %>
    </div>
    <div class="medium-10 small-12 columns">
        <h3>
            Open Source
        </h3>

        <p>
            Nimbus is open source. Every piece of this site can be seen and edited. For more information go to the
            contribute page.
        </p>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">

        <h3>Secure</h3>

        <p>
            Passswords are hashed and salted using the industry standard bcrypt. This means that even if Nimbus were
            compromised, your password would be safe. None of your files are touched by us.
        </p>
    </div>
</div>