<div class="wrapper">
    <div class="row">
        <div class="large-6 columns" id="intro-text">
            <h1>Welcome to Nimbus</h1>

            <p>
                Nimbus is a way to manage all of your cloud storage accounts. It is open source, cross platform,
                and best of all completely free. We support most major services such as Dropbox, Google Drive,
                box.net, and SkyDrive.
            </p>
        </div>
        <div class="large-5 large-offset-1 columns">
            <div class="hide-for-small" id="scene">
            </div>
        </div>
    </div>
</div>
<script>
    if (!Modernizr.textshadow) {
        $('h1').textshadow();
        $('p').textshadow();
    }
</script>