<div class="popup">
    <header>
        <h3>Rename Connection</h3>
    </header>
    <p>
        Rename your connection.
    </p>
    <%= form_tag connection_path(params[:id]), method: :patch, onsubmit: 'show_spinner();',
                 remote: true do %>
        <div class="row">
            <div class="large-4 columns">
                <%= label_tag :name, 'Name:', class: 'inline' %>
            </div>
            <div class="large-8 columns">
                <%= text_field_tag :name %>
            </div>
        </div>

        <footer>
            <span class="load hide">Loading...</span>
            <%= submit_tag 'Rename', class: 'button submit' %>
        </footer>
    <% end %>
</div>
