<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Congratulations</h1>

<p>
    You have been successfully registered for Nimbus.
    Please click this <a href="<%= url_for controller: 'users', action: 'verify', id: @token,
        only_path: false, protocol: 'https', host: 'nimbus-web.heroku.app.com' %>">link</a> to verify your account.
</p>
</body>
</html>