<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Congratulations</h1>

<p>
    You have been successfully registered for Nimbus.
    Please click this <%= link_to 'link', verify_path @token %>to verify your account.
</p>
</body>
</html>