<div class="popup">
    <header>
        <h3>Delete My Account</h3>
    </header>
    <section class="message">
        <p>
            Please confirm your password. Note that there is no way to undo this action.
        </p>
    </section>
    <%=
        form_tag user_path,
                 method: :delete,
                 onsubmit: 'show_spinner();',
                 remote: true do
    %>
        <div class="row">
            <div class="large-4 columns">
                <%= label_tag :password, 'Password:', class: 'inline' %>
            </div>
            <div class="large-8 columns">
                <%= password_field_tag :password %>
            </div>
        </div>

        <footer>
            <%= submit_tag 'Delete', class: 'button submit' %>
        </footer>
    <% end %>
</div>
