<% provide :title_suffix, 'Login' %>
<%= render 'layouts/register' %>
<% if flash[:register] %>
    <script>$(document).ready(function () {$('#register').modal()})</script>
<% end %>
<a onclick="$('#register').modal()">Register</a>