body {
  min-width: 320px;
}

.button{
  border-radius: 2px;
  box-shadow: 0 0 1px black;
}

.top-bar {
  @media only screen and(max-width: 767px) {
    margin-bottom: 1em !important;
  }
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;

  span {
    margin-right: 9px;
  }
  .name {
    display: table;
    #logo {
      display: inline-block;
      display: table-cell;
      vertical-align: middle;
      #logo-image {
        height: 42px;
        width: 210px;
        margin-left: 15px;
      }
    }
  }
  .right {
    @media only screen and (max-width: 767px) {
      font-size: 1.3em;
    }
    .active {
      -moz-box-shadow: inset 0 0 10px #999;
      -webkit-box-shadow: inset 0 0 10px #999;
      box-shadow: inset 0 0 10px #999;
    }
    .divider {
      border: none;
      min-width: 1px;
      min-he: 1px;
      background-color: #CCC;
    }
    .end-divider {
      width: 6px;
    }
    li {
      line-height: 64px;
      a:not(.button) {
        min-width: 100px;
        padding: 0px 15px;
        text-align: center;
        vertical-align: middle;
        &:hover {
          background-color: #EEE;
          color: black;
        }
      }

    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.4em;
  margin-top: 15px;
}

#content {
  @media only screen and (min-height: 768px) {
    min-height: 450px;
  }
}

.popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  margin: 20px auto;
}

/* overlay at start */
.modal.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* overlay animate in */
.modal.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.modal.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.modal.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* content animate it */
.modal.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

/* content animate out */
.modal.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.wrapper {
  background-image: image-url("noise64.png");
  background-size: 64px 64px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5 pppx) {
  .wrapper {
    background-image: image-url("noise128.png");
    background-size: 64px 64px;

  }
}

#logo-image {
  background: image-url("banner.svg") no-repeat;
  background-size: 210px 42px;
}