.alert-box {
  text-align: center;
  margin: auto;
  max-width: 600px;
  min-width: 200px;
  width: 40%;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 -20%;
  z-index: 1;
}

.hide {
  display: none !important;
}

body {
  min-width: 320px;
}

.top-bar {
  margin-bottom: 1em !important;
  box-shadow: 0 0 3px black;

  span {
    margin-right: 9px;
  }
  .name {
    display: table;
    #logo {
      display: inline-block;
      display: table-cell;
      vertical-align: middle;
      #logo-image {
        height: 42px;
        width: 210px;
        margin-left: 15px;
      }
    }
  }
  .right {
    @media only screen and (max-width: 799px) {
      font-size: 1.3em;
    }
    .active {
      box-shadow: inset 0 0 10px #999;
    }
    .divider {
      border: none;
      min-width: 1px;
      min-he: 1px;
      background-color: #CCC;
    }
    .end-divider {
      width: 6px;
    }
    li {
      line-height: 64px;
      a:not(.button) {
        min-width: 100px;
        padding: 0px 15px;
        text-align: center;
        vertical-align: middle;
        &:hover {
          background-color: #EEE;
          color: black;
        }
      }

    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.4em;
  margin-top: 15px;
  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

.popup {
  position: relative;
  background: #FFF;
  padding: 20px 20px 0 20px;
  margin: 20px auto;
  max-width: 650px;
}

#warning ul {
  margin-left: 30px;
}

// Modal BG Overlay before transition
.modal.mfp-bg {
  opacity: 0;
  transition: all 0.2s ease-out;
}

// Modal BG while animating in
.modal.mfp-bg.mfp-ready {
  opacity: 0.8;
}

// Modal BG while animating out
.modal.mfp-bg.mfp-removing {
  opacity: 0;
}

//Modal before animation
.modal.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(.7);
  transition: all 0.2s ease-out;
}

//Modal Styling
.popup header {
  margin-bottom: 30px;
}

.popup footer {
  text-align: right;
  border-top: 1px solid #aaa;
  font-size: 16px;
  min-height: 50px;
  line-height: 50px;
  .button, span {
    display: inline-block;
    top: 10px;
    right: 0;
    vertical-align: middle;
  }
}

// Modal while animating in
.modal.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}

// modal while animating out
.modal.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.wrapper {
  background-image: image-url("noise64.png");
  background-size: 64px 64px;
  @media (min-resolution: 1.5 pppx) {
    background-image: image-url("noise128.png");
    background-size: 64px 64px;
  }
}

.mfp-close:hover {
  background: none;
}

#logo-image {
  background: image-url("banner.svg") no-repeat;
  background-size: 210px 42px;
}

#spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1999999998;
  #spinner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 175px;
    width: 175px;
    margin: -87.5px;
    background-color: #666;
    opacity: 0.9;
    border-radius: 15px;
    z-index: 1999999999;
  }
}

.modal figure {
  margin: 0;
}

svg {
  shape-rendering: crispEdges;
}