@import "bootstrap";

$dark-gray: #333;

.btn {
  border-radius: 2px;
}

body {
  min-width: 800px;
}

header {
  .brand {
    margin-top: -3px !important;
  }
  .nav.pull-right {
    font-size: 1.2em;
    li {
      margin-top: 9px;
    }
    .divider-vertical {
      background-color: #CCC;
      border-right: solid 1px #CCC;
      height: 62px;
      margin: auto;
    }
  }

  .navbar-inner {
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background-image: none;
    background-color: #EEE;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    a {
      padding-top: 12px !important;
      padding-bottom: 8px !important;
      text-shadow: none !important;
      min-width: 65px;
      text-align: center;
    }
    .active {
      box-shadow: inset 0 0 10px #adadad;
      height: 33px;
      margin-top: -11px;
      padding: 23px 17px 8px 15px !important;
    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.4em;
}

#content {
  min-height: 500px;
}

.carousel {

  margin: auto auto;
  max-width: 1200px;
  box-shadow: 0 0 10px;
  background-color: $dark-gray;
  img {
    margin: auto auto;
  }
}
.modal{
  margin-top: -30px;
}
.modal-body {
  padding-top: 10px;
  max-height: 450px;
}

#recaptcha_widget_div {
  width: 450px;
  margin: 35px auto 0 auto;
}

#errors {
  color: red;
  padding-bottom: 20px;
}

.field with errors {
  @extend .control-group;
  @extend .error;
}

.modal {
  border-radius: 5px;
}

.container-fluid {
  max-width: 1200px;
  margin: auto;
  h2 {
    margin: 0 auto 20px auto;
  }
  .hero-unit {
    min-height: 350px;
    margin: auto;
    border-radius: 3px;
  }
  .btn {
    margin-top: 30px;
  }
}