body {
  min-width: 320px;
}

.top-bar {
  @media only screen and(max-width: 767px)
  {
    margin-bottom: 1em !important;
  }
  box-shadow: 0 0 3px;
  span {
    margin-right: 9px;
  }
  .name {
    display: table;
    #logo {
      display: inline-block;
      display: table-cell;
      vertical-align: middle;
      #logo-image {
        height: 42px;
        width: 210px;
        margin-left: 15px;
      }
    }
  }
  .right {
    @media only screen and (max-width: 767px) {
      font-size: 1.3em;
    }
    .active {
      box-shadow: inset 0 0 10px #ADADAD;
    }
    .divider {
      border: none;
      min-width: 1px;
      min-he: 1px;
      background-color: #CCC;
    }
    .end-divider {
      width: 6px;
    }
    li {
      line-height: 64px;
      a:not(.button) {
        min-width: 100px;
        padding: 0px 15px;
        text-align: center;
        vertical-align: middle;
        &:hover {
          background-color: #EEE;
          color: black;
        }
      }

    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.4em;
  margin-top: 15px;
}

#content {
  @media only screen and (min-height: 768px) {
    min-height: 450px;
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  min-width: 300px;
  max-width: 800px;
  margin: 20px auto;
}
