#password-reset-header {
  text-align: center;
}

#password-reset-box {
  label {
    text-align: right;
  }
  max-width: 500px;
  margin: auto;
  .button {
    width: 106px;
    margin: auto;
    display: block;
  }
}