#slider {
  background-color: black;
  height: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
}


#intro-text {
  @media only screen and(min-height: 768px) {
    font-size: 1.3em;
  }
  @media only screen and(max-height: 767px) {
  font-size: 1.1em;
}
  h1, p {
    color: #EEE;
  }
  h1 {
    line-height: 1.2em;
  }

  text-shadow: 2px 2px #222;
}

.wrapper {
  max-height: 460px;
  background-color: #444;
  -moz-box-shadow: inset 0 0 30px;
  -webkit-box-shadow: inset 0 0 30px;
  box-shadow: inset 0 0 30px;
  @media only screen and(min-height: 768px) {
    padding: 20px 0;
  }
  @media only screen and(max-height: 767px) {
  padding: 5px 0;
}
}