@import 'foundation_and_overrides';

#scene {
  background: image_url('scene400.jpg');
  @media (min-resolution: 1.5dppx) {
    background: image_url('scene800.jpg');
    background-size: cover;
  }
  background-size: cover;
  height: 400px;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 0 0 10px black;
}

#intro-text {
  text-shadow: 0 5px 10px black;
  h1, p {
    color: white;
  }
  p {
    font-size: 1.3em;
  }
  h1 {
    font-size: 3.5em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
  @media (max-width: 799px) {
    p {
      font-size: 1.1em;
    }
    h1 {
      font-size: 3em;
      line-height: 1em;
      padding-bottom: 10px;
    }
  }
}

.wrapper {
  max-height: 460px;
  background-color: #333;
  box-shadow: inset 0 15px 15px -12px black, inset 0 -15px 15px -12px black;
  padding: 20px 0;
  @media (max-width: 799px) {
    padding: 5px 0;
  }
}

#files-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
}

#files-table {
  width: 100%;
  border-collapse: collapse;

  .selected-row {
    background-color: #ddd;
  }

  a {
    color: $body-font-color;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 600px) {
    .time {
      display: none;
    }
  }

  tr td {
    font-size: 14px;
    padding: 6px 5px 6px 5px;
    vertical-align: middle;
    @media (max-width: 600px) {
      font-size: 12px;
      padding: 6px 3px 6px 3px;
    }
  }

  .rename {
    margin-left: 10px;
  }

  .icon {
    width: 24px;
    height: 24px;
    img {
      max-width: 24px;
    }
    @media (max-width: 600px) {
      width: 20px;
      img {
        max-width: 20px;
      }
    }
  }

  .menu-button {
    text-align: center;
    width: 32px;
    height: 24px;
    cursor: pointer;
    .menu-svg {
      fill: #aaa;
    }
    &:hover {
      .menu-svg {
        fill: #666;
      }
    }
  }

  .filename {
    overflow: hidden;
    max-width: 100px;
  }

  .size-column {
    width: 60px;
    text-align: center;
    @media (max-width: 600px) {
      width: 50px;
    }
  }

  .date-column {
    width: 150px;
    text-align: center;
    @media (max-width: 600px) {
      width: 70px;
    }
  }

  .breadcrumbs {
    width: 100%;
  }
}

#files-table-div {
  margin: auto;
  padding: 0;
  nav {
    margin-bottom: 5px;
  }
}

#app-side {
  margin-bottom: 0;
  min-width: 90px;
  padding: 20px 10px;
  text-align: center;
}

.context-menu {
  height: 53px;
  width: 150px;
  position: fixed;
  background-color: white;
  margin: 0;
  border: 1px solid #888;
  box-shadow: 0 0 4px #777;
  ul {
    list-style: none;
    li {
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
      padding-left: 5px;
      cursor: pointer;
      a {
        color: $body-font-color;
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
}