#scene {
  background: image_url('scene400.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background: image_url('scene800.jpg');
    background-size: cover;
  }
  background-size: cover;
  height: 400px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

#intro-text {
  font-size: 1.3em;
  @media only screen and(max-width: 799px) {
    font-size: 1.1em;
  }
  h1, p {
    color: white;
  }
  h1 {
    line-height: 1.2em;
  }
  -webkit-text-shadow: 0 5px 10px black;
  text-shadow: 0 5px 10px black;
}

.wrapper {
  max-height: 460px;
  background-color: #333;
  -webkit-box-shadow: inset 0 15px 15px -12px black, inset 0 -15px 15px -12px black;
  box-shadow: inset 0 15px 15px -12px black, inset 0 -15px 15px -12px black;
  padding: 20px 0;
  @media only screen and(max-width: 799px) {
    padding: 5px 0;
  }
}