//Login Box
#login {
  width: 250px;
  height: 350px;
  @media only screen and (min-width: "768px") {
    margin: 40px auto 0 auto;
  }
  @media only screen and (max-width: "767px") {
    margin: 0 auto 0 auto;
  }
  padding: 20px;
  h3 {
    margin-bottom: 20px;
  }
  #remember-label, #remember-control {
    display: inline;
  }
  #links {
    margin-top: 20px;
    a {
      color: #444;
      font-size: 12px;
      text-decoration: underline;
    }
  }
  #remember {
    margin: auto 0 auto 10px;
  }
}

#error-box{
  width: 250px;
  margin: -21px auto auto auto;
}

#wait{
  font-size: 14px;
  margin-top: 40px;
}
//Registration Ad/Prompt
.row {
  margin: auto;
  h2 {
    margin: 0 auto 20px auto;
  }

  #register-here {
    min-height: 350px;
    margin: 40px auto auto auto;
  }
  .button {
    margin-top: 30px;
  }
}

//Registration Modal
#dynamic_recaptcha {
  height: 132px;
  width: 440px;
  margin: 15px auto 25px auto;
}

.popup {
  min-width: 500px;
  width: 40%;
}
h3{
  margin-top: 0;
}

.forms {
  margin: 40px auto 10px auto;
}

#register footer{
  text-align: right;
  height: 25px;
  border-top:1px solid #aaa;
  padding: 10px;
  line-height: 34px;
}

#loading{
  font-size: 16px;
}