//Show Page
#gravatar {
  float: left;
  margin-right: 30px;
}

#services {
  margin-top: 20px;
}

//Login Box
#login {
  width: 250px;
  height: 350px;
  margin: 40px auto 0 auto;
  @media only screen and (max-width: "799px") {
    margin: 0 auto 0 auto;
  }
  padding: 20px;
  h3 {
    margin-bottom: 20px;
  }
  #remember-label, #remember-control {
    display: inline;
  }
  #links {
    margin-top: 20px;
    a {
      color: #444;
      font-size: 12px;
      text-decoration: underline;
    }
  }
  #remember {
    margin: auto 0 auto 10px;
    vertical-align: middle;
  }
}

#error-box {
  width: 250px;
  margin: -21px auto auto auto;
}

#wait {
  font-size: 14px;
  margin-top: 40px;
}

//Registration Ad/Prompt
.row {
  margin: auto;
  h2 {
    margin: 0 auto 20px auto;
  }

  #register-here {
    min-height: 350px;
    margin: 40px auto auto auto;
  }
  .button {
    margin-top: 30px;
  }
}

//Registration Modal
#dynamic_recaptcha {
  height: 132px;
  width: 440px;
  margin: 15px auto 25px auto;
}

.popup {
  min-width: 500px;
  max-width: 650px;
  width: 40%;
}

h3 {
  margin-top: 0;
}

.forms {
  margin: 40px auto 10px auto;
}

//Services Box
#services{
  p{
    margin: 0;
  }
  form{
    display: inline;
  }
  h4:not(:first-child){
    margin-top: 20px;
  }
}