<% unless session[:warning_shown] %>
    <div id="warning" class="popup mfp-hide">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <header>
            <h3>Outdated Browser</h3>
        </header>
        <p>
            We have detected you are using an unsupported browser. Please upgrade to one of the following supported
            browsers:
        </p>

        <ul>
            <li>Firefox 4 and above</li>
            <li>Chrome 8 and above</li>
            <li>Safari 5.1 and above</li>
            <li>Opera 11.6 and above</li>
            <li>Internet Explorer 10 and above</li>
        </ul>
        <footer>
            <button class="button" onclick="$.magnificPopup.close();">Proceed Anyway</button>
        </footer>
    </div>
    <script>
        jQuery(function () {
            if (!compatible())
                {
                    $.magnificPopup.open({
                        items: {
                            src: '#warning',
                            type: 'inline',
                            mainClass: 'modal',
                            tLoading: '',
                            removalDelay: 200,
                            closeBtnInside: true
                        }
                    });
                }
        });
    </script>
    <% session[:warning_shown] = true %>
<% end %>
