<footer class="footer">
    <ul>
        <li><%= link_to 'Terms of Service', agreement_path %></li>
        <li>All Rights Belong to Their Respective Owners</li>
        <li>Icons from <a href="http://www.fatcow.com/free-icons">Fat Cow</a></li>
    </ul>
</footer>