<footer class="footer">
    <ul>
        <li><%= link_to 'Terms of Service', agreement_path %></li>
        <li>All Rights Belong to Their Respective Owners</li>
        <li>Icons from <a href="https://launchpad.net/elementaryicons">Elementary Icons</a></li>
    </ul>
</footer>