<div id="carouselID" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselID" data-slide-to="0" class="active"></li>
        <li data-target="#carouselID" data-slide-to="1"></li>
        <li data-target="#carouselID" data-slide-to="2"></li>
        <li data-target="#carouselID" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="http://placehold.it/800x400" alt=""/>

            <div class="carousel-caption">
                <h4>Supports Multiple Services</h4>

                <p>
                    Nimbus supports multiple popular cloud storage services. See the features page for a full list.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://placehold.it/800x400" alt=""/>

            <div class="carousel-caption">
                <h4>Open Source</h4>

                <p>
                    Everything from the application to the webpage you are on right now are open source. Check the
                    contribute page for more information
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://placehold.it/800x400" alt=""/>

            <div class="carousel-caption">
                <h4>Cross Platform</h4>

                <p>
                    Supports Windows, Mac, and several Linux distributions with upcoming support for Android
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://placehold.it/800x400" alt=""/>

            <div class="carousel-caption">
                <h4>Unified</h4>

                <p>
                    Nimbus can either back up your information to multiple services or combine them to make one large
                    shared folder
                </p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carouselID" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carouselID" data-slide="next">&rsaquo;</a>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({ interval: 7000 });
        })
    </script>
</div>