<!--[if lt IE 9]>
<script>$(document).ready(function () {ie_warning()}</script>
<![endif]-->

<div class="modal hide fade" id="ie_warning">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Old Browser Detected</h3>
    </div>
    <div class="modal-body">
        <p>
            We have detected you are running Internet Explorer 8 or earlier. Please upgrade to a newer version of
            Internet Explorer of a supported browser such as Mozilla Firefox or Google Chrome. Remember,
            every time you use an old version of Internet Explorer, a kitten cries.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="ignore_warning()">
            Proceed Anyway
        </button>
    </div>
</div>