<div class="modal hide fade" id="success">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Congratulations</h3>
    </div>

    <div class="modal-body">
        <p>You have now been successfully registered. Have Fun!</p>
    </div>

    <div class="modal-footer">
        <%= f.submit 'Okay', class: 'btn btn-large btn-primary' %>
    </div>
</div>